<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Блог сайта</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css"/>
</head>
<body>

<header th:insert="blocks/header.html :: header"></header>

<div th:each="el : ${energies}" class="alert alert-info mt-2">
  <h3 th:text="${el.id}"/>
  <p th:text="${el.protein}"/>
  <p th:text="${el.fat}"/>
  <p th:text="${el.carbs}"/>
  <a th:href="'/support/' + ${el.calories}">Детальнее</a>

</div>

<div class="pricing-header p-3 pb-md-4 mx-auto text-center"><h1 class="display-4 fw-normal text-body-emphasis">
  Блог</h1>
  <p class="fs-5 text-body-secondary">Quickly build an effective pricing table for your potential customers with this
    Bootstrap example. It’s built with default Bootstrap components and utilities with little customization.</p>
</div>

<div th:insert="blocks/footer.html :: footer"></div>

</body>
</html>